.ppass{
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    height: 700px;
    background-image:url(./images/hospital.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.ppass h1{
    color: black;
    margin-top: 130px;
}
.pbody{
    background: #f2f2f2;
    width:500px;
    height:250px;
    margin-top: 100px;
}
.ppass .pbody input[type=text], select {
    width: 30%;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .ppass .pbody input[type=password], select {
    width: 30%;
    padding: 10px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 
    
    
  }
  .ppass .pbody input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    padding-right: 50px;
    margin: 80px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    
  }
  
  .ppass .pbody input[type=submit]:hover {
    background-color: #45a049;
  }
  